/* ***** global ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

h1,h2,h3,p,li,a,label,input{
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    color: rgb(34, 34, 34);
}

body{
    background-color: #eee;
    display:flex;
    flex-direction: column;
}

.hidden{
    display: none;
}

main{
    display:flex;
    flex-direction: column;
}

h1,h2,h3{
    margin: 5px 0;
}

/* ***** header ***** */

.title{
    margin: 10px auto;
    text-align: center;
}

/* ***** search body ***** */

.main-search{
    border: none;
    display:flex;
    margin: 20px auto;
    width: 100vw;
    /* outline: 1px solid red; */
    justify-content: center;
}

.main-search p{
    margin: 0 5px;
}

#recipe-search{
    width: 20vw;
    margin-right: 5px;
}

.submit{
    padding: 3px 9px;
    border-radius: 4px;
    border: 2px solid rgb(196, 196, 196);
    cursor: pointer;
    margin-left: 5px;
}

.error-message{
    color: rgb(207, 1, 1);
    font-size: 18px;
}

.dropbtn {
    background-color: rgb(117, 117, 117);
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 180px;
    margin-right: 5px;
}

.fa-caret-down{
    pointer-events: none;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(73, 73, 73);
    transition: ease-in .2s;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-contentA,
.dropdown-contentB {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    padding-left: 2px;
}

.drop-items{
    display: block;
}


/* ***** results section ***** */

#results{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: inline-block;
    max-height: 70vh;
    overflow: auto;
    padding: 3px;
    width: 75vw;
    margin: 0 auto;
    transition: ease-in .2s;
}

.recipe-image-short{
    width:60%;
    height: auto;
}

.prelimInfo{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
}

.sorry{
    margin: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.list > li {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* outline: 1px solid red; */
    width: 90%;
    border-bottom: 1px solid gray;
}

.short-recipe-container{
    display: flex;
    flex-direction: row;
}

li p{
    margin: 8px auto ;
}

span{
    font-weight: bold;
}
  
li, img {
    max-width: 900px;
}

a:hover{
    color: rgb(4, 4, 212);
    transition: 0.3s ease;
}


@media only screen and (max-width: 1100px){

    .short-recipe-container{
        flex-direction: column;
    }

    .list > li > h2{
        text-align: center;
    }

    .ingredientsList > li p{
        font-size: 14px;
    }

    .short-recipe-container > img{
        margin: auto;
    }

    .prelimInfo{
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 5px;
    }

    .main-search{
        flex-direction: column;
        text-align: center;
    }

    #recipe-search{
        margin: 5px auto;
        width: 286px;
    }

    .submit{
        margin: 5px auto;
        width: 20%;
        min-width: 100px;
    }

    .dropdown-contentA,
    .dropdown-contentB {
        min-width: 180px;
        text-align: left;
    }

}

@media only screen and (max-width: 600px){
    #results{
        width: 98vw;
    }

    .prelimInfo{
        margin: 10px 2px;
    }

    .list > li{
        width: 99%;
        padding: 6px;
    }

    #results h2{
        font-size: larger;
    }


}

@media only screen and (max-width: 400px){

    .dropbtn{
        font-size: 12px;
        width: 140px;
    }

    .dropdown-contentA,
    .dropdown-contentB {
        min-width: 140px;
    }

}










  