/* ***** global ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,p,li,a,label,input{
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    color: rgb(34, 34, 34);
}

body{
    background-color: #eee;
}

.hidden{
    display: none;
}

/* ***** header ***** */

header{
    background-color: white;
    top: 0;
    padding: 20px 0;
    border-bottom: 3px solid rgb(133, 133, 133);
    border-top: 3px solid darkgrey;
}

.title{
    margin: 10px 0 20px 10px;
}

/* ***** main body ***** */

form,
.error-message,
#results,
#results h2{
    margin: 10px 0 20px 10px;
}

form{
    border: none;
}

state-dropdown-select{
    width: 30px;
}

#parks,
#max-results{
    border-radius: 4px;
    border: 2px solid rgb(196, 196, 196);
    padding: 3px;
    margin-right: 10px;
}

#parks{
    width: 300px;
}

#max-results{
    width: 80px;
}

.submit{
    padding: 3px 9px;
    border-radius: 4px;
    border: 2px solid rgb(196, 196, 196);
    cursor: pointer;
}

.error-message{
    color: rgb(207, 1, 1);
    font-size: 18px;
}

#testSelect{
    width: 50px;
}

/* ***** results section ***** */

#results{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: inline-block;
    height: auto;
    padding: 3px;
}

.recipe-image-short{
    width: 60%;
    /* height: 264px; */
    
}

.sorry{
    margin: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
  
li {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.short-recipe-container{
    display: flex;
    flex-direction: row;
}

li p{
    margin: 8px auto ;
}

span{
    font-weight: bold;
}
  
li, img {
    max-width: 900px;
}

a:hover{
    color: rgb(4, 4, 212);
    transition: 0.3s ease;
}





/* ********************* */

.dropbtn {
    background-color: rgb(117, 117, 117);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(73, 73, 73);
    transition: ease-in .2s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left:10px;
  }
  
  .dropdown-contentA,
  .dropdown-contentB {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;} */
  
  .drop-items{
      display: block;
  }